<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite Regression Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6773a3">  <td>24/04/24 16:45:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performEmptyLogin()[pri:0, instance:testCases.TC002_login@79079097]">performEmptyLogin</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/24 16:45:21</td>   <td>9656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performEmptyPasswordLogin()[pri:2, instance:testCases.TC002_login@79079097]">performEmptyPasswordLogin</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/24 16:45:13</td>   <td>1235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performEmptyUserIDLogin()[pri:1, instance:testCases.TC002_login@79079097]">performEmptyUserIDLogin</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/24 16:45:25</td>   <td>12891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performInvalidPassword()[pri:4, instance:testCases.TC002_login@79079097]">performInvalidPassword</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/24 16:45:23</td>   <td>11308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performNonExistUserID()[pri:3, instance:testCases.TC002_login@79079097]">performNonExistUserID</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/24 16:45:27</td>   <td>14895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performValidCredential()[pri:5, instance:testCases.TC002_login@79079097]">performValidCredential</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="cec361">  <td>24/04/24 16:45:37</td>   <td>24788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_login.performlogout()[pri:0, instance:testCases.TC003_login@302552ec]">performlogout</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/24 16:44:37</td>   <td>-34845</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotationSetup.setUp()[pri:0, instance:testCases.TC001_login@557caf28]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/24 16:44:50</td>   <td>-22237</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotationSetup.setUp()[pri:0, instance:testCases.TC002_login@79079097]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/24 16:45:29</td>   <td>17360</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotationSetup.setUp()[pri:0, instance:testCases.TC003_login@302552ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/24 16:44:48</td>   <td>-23704</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotationSetup.tearDown()[pri:0, instance:testCases.TC001_login@557caf28]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/24 16:45:28</td>   <td>15930</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotationSetup.tearDown()[pri:0, instance:testCases.TC002_login@79079097]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/24 16:45:40</td>   <td>27840</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotationSetup.tearDown()[pri:0, instance:testCases.TC003_login@302552ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>24/04/24 16:44:46</td>   <td>-25886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_login.verifyLoginLabels()[pri:0, instance:testCases.TC001_login@557caf28]">verifyLoginLabels</td> 
  <td>main@1159190947</td>   <td></td> </tr>
</table>
