<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9d18d">  <td>24/04/25 12:59:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotationSetup.setUp()[pri:0, instance:testCases.TC001_login@13b13b5d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>24/04/25 12:59:38</td>   <td>8552</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotationSetup.tearDown()[pri:0, instance:testCases.TC001_login@13b13b5d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="a2b467">  <td>24/04/25 12:59:38</td>   <td>7790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_login.verifyLoginLabels()[pri:0, instance:testCases.TC001_login@13b13b5d]">verifyLoginLabels</td> 
  <td>main@1159190947</td>   <td></td> </tr>
</table>
