<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab8173">  <td>24/04/23 10:07:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotationSetup.setUp()[pri:0, instance:testCases.TC001_login@557caf28]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/23 10:07:59</td>   <td>12461</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotationSetup.tearDown()[pri:0, instance:testCases.TC001_login@557caf28]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>24/04/23 10:07:58</td>   <td>11358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_login.verifyLoginLabels()[pri:0, instance:testCases.TC001_login@557caf28]">verifyLoginLabels</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/23 10:08:29</td>   <td>42760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performEmptyPasswordLogin()[pri:2, instance:testCases.TC002_login@79079097]">performEmptyPasswordLogin</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/23 10:08:35</td>   <td>48389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performValidCredential()[pri:5, instance:testCases.TC002_login@79079097]">performValidCredential</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/23 10:08:36</td>   <td>50207</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotationSetup.tearDown()[pri:0, instance:testCases.TC002_login@79079097]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/23 10:08:30</td>   <td>43979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performNonExistUserID()[pri:3, instance:testCases.TC002_login@79079097]">performNonExistUserID</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/23 10:08:21</td>   <td>35059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performEmptyUserIDLogin()[pri:1, instance:testCases.TC002_login@79079097]">performEmptyUserIDLogin</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/23 10:08:00</td>   <td>13945</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotationSetup.setUp()[pri:0, instance:testCases.TC002_login@79079097]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/23 10:08:13</td>   <td>27270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performEmptyLogin()[pri:0, instance:testCases.TC002_login@79079097]">performEmptyLogin</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>24/04/23 10:08:32</td>   <td>46024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_login.performInvalidPassword()[pri:4, instance:testCases.TC002_login@79079097]">performInvalidPassword</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="cec361">  <td>24/04/23 10:08:46</td>   <td>60273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_login.performlogout()[pri:0, instance:testCases.TC003_login@302552ec]">performlogout</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/23 10:08:55</td>   <td>68478</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotationSetup.tearDown()[pri:0, instance:testCases.TC003_login@302552ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>24/04/23 10:08:38</td>   <td>51660</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotationSetup.setUp()[pri:0, instance:testCases.TC003_login@302552ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
</table>
